@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  font-family: "Brygada 1918", serif;
  margin: 0.3px;
}

body {
  background-color: rgb(143, 66, 66);
  color: rgb(254, 254, 254);
}

.general-container {
  width: 100%;
  display: flex;
  height: 90vh;
  background: linear-gradient(rgb(209, 210, 191), hwb(105 13% 33% / 0.144));
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  background: linear-gradient(rgb(54, 49, 49), rgb(239, 235, 235));
  border-radius: 5px;
  padding: 50px;
}

.info {
  width: 100%;
  display: flex;
  background-color: inherit;
  padding: 10px;
  justify-content: end;
}

input {
  border-radius: 5px;
  border: 0px;
  padding: 0.25rem;
  width: 250px;
}

.buttons {
  width: 100%;
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: center;
}

button {
  margin: 5px;
}

i:hover {
  color: rgb(185, 173, 173);
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(8, 8, 8);
  height: 8vh;
}

.header-title {
  color: rgb(250, 249, 249);
}
